In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Restaurant_Reviews.csv')
data.head(10)

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1
5     Now I am getting angry and I want my damn pho.      0
6              Honeslty it didn't taste THAT fresh.)      0
7  The potatoes were like rubber and you could te...      0
8                          The fries were great too.      1
9                                     A great touch.      1

## Data Exploration and Cleaning

In [3]:
cleaned_data = data.copy()

In [4]:
cleaned_data

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [5]:
cleaned_data['Liked'].value_counts()

Liked
1    500
0    500
Name: count, dtype: int64

In [6]:
cleaned_data.isna().any()

Review    False
Liked     False
dtype: bool

In [7]:
cleaned_data['Review'].sample(1)

200    I had heard good things about this place, but ...
Name: Review, dtype: object

In [10]:
import contractions
import re
import nltk
import keras
from nltk import word_tokenize          
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords

stemmer = PorterStemmer(mode='NLTK_EXTENSIONS')
stop_words = stopwords.words('english') 
stop_words.remove('not')

tokenizer = keras.preprocessing.text.Tokenizer()

def fix_contractions(text):
    return contractions.fix(text)


def remove_punctuations(text):
    return re.sub('[^a-zA-Z]', ' ', text)

def convert_to_lower(text):
    return text.lower()

def tokenize(text):
    return word_tokenize(text)
 

def remove_stopwords(text):
    return [word for word in text if word not in stop_words]

def stem_tokens(tokens, stemmer):
    return [stemmer.stem(token_) for token_ in tokens]

def convert_to_sequence (text, tokenizer):
    tokenizer.fit_on_texts(text)
    sequences = tokenizer.texts_to_sequences(text)
    pad = keras.preprocessing.sequence.pad_sequences
    return pad(sequences)



def clean_and_preprocess(text):
    text = fix_contractions(text)
    text = remove_punctuations(text)
    text = convert_to_lower(text)
    text = tokenize(text)
    text = remove_stopwords(text)
    text = stem_tokens(text, stemmer)
    text = convert_to_sequence(text, tokenizer)
    
    return text

cleaned_data['Review'] = cleaned_data['Review'].apply(clean_and_preprocess)

TypeError: clean_and_preprocess() got an unexpected keyword argument 'inplace'

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]